:root {
  --primary: #1b353f;
  --secondary: #2d5f74;
  --highlight: #3482b6;
  --pale: #f8f8f8;
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  margin: 10px 0 0;
}

h1,
h2,
h3,
p {
  color: var(--secondary);
}

a {
  color: var(--highlight);
}
